div{
    width: 400px;
    height: 400px;
    background-color: salmon;
    /* border-radius: 50%; */
    border-radius: 50% 0 50% 0;
    margin: auto;
    text-align: center;
    line-height: 400px;
    /* background-image: url(mark.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}
